.mainBlock{
    height: calc(100vh - 90px);
}
.auth {
    background-color: var(--primary);
    box-shadow: var(--main-shadow);
    width: 450px;
    height: 500px;

    position: absolute;


    display: grid;
    grid-template-rows: 1fr 1fr 1fr auto;
    padding: 45px;

    animation: start-translate 0.4s forwards;
    animation-timing-function: cubic-bezier(.48, .22, .35, 1);
}

@keyframes start-translate {
    0% {
        transform: translate(0, 0) skew(90deg, 20deg) scale(0.3);
        top: 100%;
        left: 100%;
    }

    100% {

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skew(0deg, 0deg) scale(1);
    }
}

.title {
    font-weight: 600;
    font-size: 32px;
    margin: 0 0 1em 0;
}

.input {
    border-radius: 6px;
    background-color: var(--secondary);
    padding: 15px;
    margin-bottom: 15px;
    color: var(--text);
    width: -webkit-fill-available;
    font-weight: 600;
}

p {
    color: var(--not-active);
    font-weight: 600;
    font-size: 15px;
}

p span {
    color: var(--action);
}

.login {
    background: var(--bg_button);
    box-shadow: var(--main-shadow);
    border-radius: 6px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
    color: var(--action);

    width: 225px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 47px;
}

.block_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button_addition {
    background: var(--primary);
    box-shadow: var(--main-shadow);
    border-radius: 10px;
    width: 47px;
    height: 47px;

}
.preloading{
    background: var(--bg_button);
    height: 47px;
    margin: 0;
}