.main{
    display: grid;
    padding: 40px 10%;
    grid-template-columns:  auto 1fr;
    column-gap: 32px;
    height: calc(100vh - 90px);
    width: 100vw;
}
.title {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}