but{
    position: relative;
    img{
        margin: 0 5px;
    }
    .dropdown{
        margin-top: 20px;
        opacity: 0;
        height: 0;
        position: absolute;
        right: 0;
        button{
            margin-bottom: 5px;
        }
    }
    .active{
        opacity: 1;
        height: 100%;
    }
}