@import "../../colors.scss";
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  img {
    padding: 24px;
  }
  .links {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: 385px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 64px;
    grid-template-columns: repeat(3, 1fr);
    a {
      text-decoration: none;
      color: $whiteGrey;
      font-size: 20px;
      &:hover {
        color: $green;
      }
    }
    .Active {
      color: $green;
      background: rgba(90, 175, 76, 0.15);
      box-shadow: 0px 8px 24px rgba(21, 21, 21, 0.05);
      border-radius: 0px 0px 8px 8px;
      text-align: center;
      padding: 18px 24px;
    }
  }
}
