:root {
  --primary: #fff;
  --secondary: #F6F6F6;
  --action: #5AAF4C;
  --text: #464646;
  --gray: #737373;

  --red: #FF5959;

  --not-active: #C8C8C8;

  --main-shadow:  0px 8px 24px rgba(21, 21, 21, 0.05);
  --bold-shadow:  0px 4px 25px rgba(0, 0, 0, 0.15);
  --shadow-checked: 0px 0px 3px var(--action);

  --bg_button: rgba(90, 175, 76, 0.15);
  --bg_button-gray: #F5F6F5;

  --gray_opacity: rgba(115, 115, 115, 0.15);
}
