.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;

  /* grid */
  justify-self: center;
}

.slide_link {
  box-shadow: var(--main-shadow);
  background-color: var(--primary);
  border-radius: 6px;
  font-weight: 600;
font-size: 20px;
color: var(--gray);
padding: 10px 0;
margin: 4px 0;
width: 100%;
text-align: center;
width: 230px;
}

.slide_link:hover {
  /* color: var(--action);
  border-radius: 8px;
  box-shadow: var(--main-shadow);
  
  animation: moveActive 300ms ease-in; */
}

.slide_link__active {
  transition: all 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
  color: var(--action);
  background: var(--bg_button);
  border-radius: 8px;
  box-shadow: var(--main-shadow)
}