header {
    display: grid;
    grid-template-columns: max-content auto auto 210px;
    column-gap: 40px;
    padding: 0px 26px;
    align-items: center;
    box-shadow: var(--main-shadow);

    height: 90px;
}
.Header_input{
    padding: 16px 25px 16px 50px;
    font-size: 18px;
}
.Header_input__pixelImages::after{
    top: 19px;
    width: 20px;
    height: 20px;
}