header {
    display: grid;
    grid-template-columns: max-content auto auto 38px;
    column-gap: 40px;
    padding: 0px 10%;
    align-items: center;
    box-shadow: var(--main-shadow);

    height: 90px;
}
.Header_input{
    padding: 16px 25px 16px 50px;
    font-size: 18px;
}
.Header_input__pixelImages::after{
    top: 19px;
    width: 20px;
    height: 20px;
}
.header_icon_lk{
    fill:var(--gray);
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
    padding: 5px;
    background-color: var(--primary);
    box-shadow: var(--main-shadow);
    border-radius: 6px;
}
.header_icon_lk:hover{
    fill:var(--action);
    background-color: var(--bg_button);
}