@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./colors.scss";
body,
input,
button {
  margin: 0;
  font-family: "Open Sans";
  color: $black;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}

button {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 8px 24px rgba(21, 21, 21, 0.05);
  padding: 13px 24px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background: rgba(90, 175, 76, 0.15);
    border-radius: 10px;
    color: $green;
  }
}
.Focused{
  color:$green;
  background: rgba(90, 175, 76, 0.15);
}
.backGround {
  background-image: url(../public/Group106.svg);
  background-repeat: repeat;
}
