.input {
  border-radius: 6px;
  background-color: var(--secondary);

  /* width: -webkit-fill-available; */
  /* padding: 5px 0px 5px 30px; */
  color: var(--text);
  width: -webkit-fill-available;
  font-weight: 600;
}
.bg_images{
  position: relative;
}
.bg_images::after {
  position: absolute;
  left: 15px;
  content: '0';
  color: transparent;
  background: url(./iconSerach.svg) no-repeat;
}