.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;

  /* grid */
  justify-self: center;
}

.slideLink {
  font-size: 18px;
  color: var(--not-active);
  padding: 12px 29px;
  font-weight: 600;
}

/* Анимация  над сделать*/
.slideLink:hover {
  color: var(--action);
  background: var(--bgButton);
  border-radius: 8px;
  box-shadow: var(--main-shadow)
}

.slideLinkActive {
  color: var(--action);
  background: var(--bgButton);
  border-radius: 8px;
  box-shadow: var(--main-shadow)
}