.logo {
  display: grid;
  height: 64px;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content;

  align-items: center;
  width: fit-content;
}
.logo__image {
  grid-row: span 2;
}
.logo__text {
  font-size: 32px;
  font-weight: bold;

  line-height: 32px;
}
.logo__text--green {
  color: var(--action);
}
